@import "./components/Login/style.module.scss";
@import "./commons/Navbar/style.module.scss";
@import "./commons/Popup/style.module.scss";
@import "./commons/PopupInput/style.module.scss";
@import "./components/RecoverPassword/style.module.scss";
@import "./components/IndexPage/style.module.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
